<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<p>
  <strong>Type:</strong>
  <%= @card.type %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
